*{
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  width: 100%;
  background-image: url("img/moon.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding:20%;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

/* Here you type your css code...start */
#top_nav{
  position: fixed;
}
#top_nav h2{
  color: white;
}

#master_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: rgba(159, 164, 151, 0.26);
  background-size: cover;
}


#game_container{

}

.fadeIn{
	-webkit-animation: fadeIn 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fadeIn 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


.character_box{
  user-select: none;
  font-size: 100px;
  color: white;
  font-style: italic;
}

.alert{
  border: 2px solid red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
