*{
  box-sizing: border-box;
}
body{
  background-color: rgb(136, 190, 235);
}
h1{
  text-align:center;
}
.grid {

}
.cell {
  float: left;
  height: 20px;
  width: 1%;
  background-color: #999;
  border-radius: 2px;
}

/* termina el borrar */
#color_options_container{
  width: 100%;
  overflow: hidden;
}
.color_box{
  float: left;
  width: 4.5454545454%;
  height: 30px;
  cursor: pointer;
}
.color_box:hover{
  border: 3px solid red;
}
#current_color_container{
  border-radius: 10px;
  width:20%;
  height: 30px;
  color: rgba(14, 150, 56, 0);
}
